<div class="hero-carousel">
  <div class="carousel-item">
    <img src="/assets/landing/alinhamento.jpg" alt="Alinhamento" class="carousel-image">
    <div class="overlay"></div>
    <div class="banner-content">
      <p class="banner-subtitle">
        <span class="year">2026</span>
        <span class="year-text">ano do</span>
      </p>
      <h1 class="banner-title">
        <span class="desktop-text">ALINHAMENTO</span>
        <span class="mobile-text">ALI<br>NHA<br>MEN<br>TO</span>
      </h1>
    </div>
  </div>
</div>
