<!-- Hero Section -->
<app-hero-banner id="home"></app-hero-banner>

<!-- Schedule Section -->
<app-schedule-section id="schedule"></app-schedule-section>

<!-- About Section -->
<app-about-section id="about"></app-about-section>

<!-- History Section -->
<app-history-section id="history"></app-history-section>

<!-- Verses Section -->
<app-verses-section id="verses"></app-verses-section>

<!-- Projects Section -->
<app-projects-section id="projects"></app-projects-section>

<!-- Prayer Request Section -->
<app-prayer-request-section></app-prayer-request-section>

<!-- Footer -->
<app-footer></app-footer>
